* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.amarillo {
  background-color: #ffff00;
  height: 50px;
  width: 200px;
  padding: 5px;
  margin: 15px 5px;
  display: inline-block;
}

.rosa {
  background-color: #ff0064;
  height: 50px;
  width: 200px;
  padding: 5px;
  margin: 10px 5px;
  display: inline-block;
}
